<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <div>
        <a href="/babbage"><img src="/img/Charles Babbage.png"  width="500" height="550" alt="Charles Babbage"></a>
        <a href="/bernersLee"><img src="/img/Tim Berners Lee.jpg" width="500" height="550" alt="BernersLee"></a>
        <a href="/clarke"><img src="/img/Joan Clarke.jpg" width="500" height="550" alt="Joan Clarke"></a>
        <a href="/hamilton"><img src="/img/Margaret Hamilton.jpg" width="500" height="550" alt="Margaret Hamilton"></a>
        <a href="/hopper"><img src="/img/Grace Murray Hopper.jpg" width="500" height="550" alt="Grace Hopper"></a>
        <a href="/lovelace"><img src="/img/Ada Lovelace.jpg" width="500" height="550" alt="Ada Lovelace"></a>
        <a href="/turing"><img src="/img/Alan Turing.jpg" width="500" height="550" alt="Alan Turing"></a>
    </div>
</body>
</html>